* {
  font-family: Arial;
}

.container {
  background-color: #24232b;
  padding: 24px;
  margin: 10px;
  border-radius: 10px;
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  font-size: 20px;
  font-weight: 700;
}

button {
  padding: 10px;
  border-radius: 5px;
  border: none;
  background-color: #2a8b8b;
  color: white;
  text-transform: uppercase;
  font-weight: 700;
  cursor: pointer;
}

.copyBtn {
  height: 30px;
  font-size: 10px;
}

.charLength {
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 20px;
  font-weight: 700;
  padding-bottom: 24px;
  margin-top: 15px;
}

.charLength span {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding-bottom: 24px;
}

.checkboxes {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  margin-bottom: 15px;
  color: white;
}

.checkboxes input {
  margin-right: 10px;
  width: 15px;
  height: 15px;
}

.generateBtn {
  width: 100%;
  margin-top: 5px;
}

.errorMessage {
  display: flex;
  justify-content: center;
  color: red;
  font-weight: bold;
}
